<!DOCTYPE html>
<head>
<% if (locals.isFacebook) { %>
<meta name="viewport" content="width=810px, initial-scale=1.0"></meta>
<% } else { %>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<% } %>

<title>Where is The Great Escape?</title>
<link href="css/core.css" rel="stylesheet">
<% if (locals.isFacebook) { %>
<a class="wi-float-action" href="/" target="_blank" title="Open in new browser window"><i class="material-icons">open_in_new</i></a>
<% } %>
<%- body %>
</html>