<!DOCTYPE html>
<head>
<% if (locals.isFacebook) { %>
<meta name="viewport" content="width=810px, initial-scale=1.0"></meta>
<% } else { %>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<% } %>

<title>Where is The Great Escape?</title>
<link href="css/core.css" rel="stylesheet">
<% if (locals.isFacebook) { %>
<link href="css/facebook.css" rel="stylesheet" />
<% } %>
<%- body %>
</html>