body {
    max-width: 810px;
}

.wi-mapcanvas {
  max-height: 450px;
  max-width: 810px;
  height: 100%;
}

#wrapper {
  max-height: 450px;
  max-width: 810px;
  height: 75%;
}

@media screen and (max-height: 350px) {
  div#currentLocation h1 {
    font-size: 20px;
    display: inline;
    padding-right: 10px;
  }
  div#currentLocation .sub {
    font-size: 15px;
  }
}