<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
      <md-icon class="material-icons">menu</md-icon>
    </md-button>

    <h2 flex md-truncate>The Great Escape Admin - Where is</h2>

    <md-button class="md-icon-button" aria-label="Favorite">
      <md-icon class="material-icons">favorite</md-icon>
    </md-button>
  </div>
</md-toolbar>

<div layout="row" flex>
  <md-list ng-controller="FlightsCtrl" ng-cloak flex="33">
    <md-list-item ng-repeat="flight in flights">
    <div layout="row" flex="40">
      <div flex="45">
        <div>{{flight.from.name}} {{flight.from.code}}</div>
        <div>{{flight.from.timestamp}}</div>
      </div>
      <md-icon class="material-icons rotate90">flight</md-icon>
      <div flex="45">
        <div>{{flight.to.name}} {{flight.to.code}}</div>
        <div>{{flight.to.timestamp}}</div>
      </div>
    </div>
    <md-icon class="md-secondary" aria-label="Start flight" class="material-icons" ng-click="startFlight(flight.id)">flight_takeoff</md-icon>
     <md-divider></md-divider>
    </md-list-item>  
  </md-list>
</div>
