<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
      <md-icon class="material-icons">menu</md-icon>
    </md-button>

    <h2 flex md-truncate>The Great Escape Admin - Where is</h2>

    <md-button class="md-icon-button" aria-label="Favorite">
      <md-icon class="material-icons">favorite</md-icon>
    </md-button>
  </div>
</md-toolbar>

<div layout="column" layout-gt-sm="row" flex  ng-controller="FlightsCtrl">
  <md-list ng-cloak flex-gt-sm="50" flex-gt-xl="33">
    <md-list-item ng-repeat="flight in flights">
    <div layout="row" flex="90">
      <div flex="40" class="flightinfo">
        <div class="name">{{flight.from.name}}</div>
        <div class="iata" flex>{{flight.from.code}}</div>
        <div class="date">{{flight.from.localtime | amFromUnix | amDateFormat:'DD. MMM'}}</div>
        <div class="time">{{flight.from.localtime | amFromUnix | amDateFormat:'HH:mm'}}</div>
      </div>
      <md-icon class="material-icons rotate90">flight</md-icon>
      <div flex="40" layout="column" class="flightinfo">
        <div class="name">{{flight.to.name}}</div>
        <div class="iata"flex>{{flight.to.code}}</div>
        <div class="date">{{flight.to.localtime | amFromUnix | amDateFormat:'DD. MMMM'}}</div>
        <div class="time">{{flight.to.localtime | amFromUnix | amDateFormat:'HH:mm'}}</div>
      </div>
      <div class="flightinfo" flex="15" hide-xs>
        <div class="time" style="text-align: right">{{ flight.duration | wiTimeSpan }}</div>
      </div>
    </div>
    <md-icon class="md-secondary" aria-label="Start flight" class="material-icons" ng-click="startFlight(flight)">flight_takeoff</md-icon>
     <md-divider></md-divider>
    </md-list-item>
  </md-list>

  <div layout="column">
    <form name="newFlightForm">
    <div layout="row">
      <div class="md-padding">
        <h3>Departure</h3>
        <md-autocomplete md-search-text="departureAirportName" placeholder="Airport" md-items="airport in autocompleteAirport(departureAirportName)" md-item-text="airport.name" md-selected-item="departureAirport"  md-min-length="2" required>
          <md-item-template>
            <span md-highlight-text="from" md-highlight-flags="^i">{{airport.code}} - {{airport.name}}</span>
          </md-item-template>
          <md-not-found>
            No matches found.
          </md-not-found>
        </md-autocomplete>

        <mdp-date-picker name="departureDate" mdp-placeholder="Date" mdp-min-date="departureMinDate" mdp-max-date="departureMaxDate" ng-model="departureTime" required>
          <div ng-messages="newFlightForm.departureDate.$error">
            <div ng-message="required">This is required</div>
            <div ng-message="format">Invalid format</div>
            <div ng-message="minDate">Min date</div>
            <div ng-message="maxDate">Max date</div>
          </div>
        </mdp-date-picker>

        <mdp-time-picker name="dpartureTime" mdp-auto-switch="true" mdp-placeholder="Airport local time" ng-model="departureTime" mdp-format="HH:mm" required>
          <div ng-messages="newFlightForm.departureTime.$error">
            <div ng-message="required">This is required</div>
            <div ng-message="format">Invalid format</div>
          </div>
        </mdp-time-picker>
      </div>
      <div class="md-padding">
        <h3>Arrival</h3>
        <md-autocomplete md-selected-item="arrivalAirport" md-search-text="arrivalAirportName" placeholder="Airport" md-items="airport in autocompleteAirport(arrivalAirportName)" md-item-text="airport.name" md-min-length="2" required>
          <md-item-template>
            <span md-highlight-text="to" md-highlight-flags="^i">{{airport.code}} - {{airport.name}}</span>
          </md-item-template>
          <md-not-found>
            No matches found.
          </md-not-found>
        </md-autocomplete>

        <mdp-date-picker name="arrivalDate" mdp-placeholder="Date" mdp-min-date="arrivalMinDate" ng-model="arrivalTime" required>
          <div ng-messages="newFlightForm.arrivalDate.$error">
            <div ng-message="required">This is required</div>
            <div ng-message="format">Invalid format</div>
            <div ng-message="minDate">Min date</div>
            <div ng-message="maxDate">Max date</div>
          </div>
        </mdp-date-picker>

        <mdp-time-picker name="arrivalTime" mdp-auto-switch="true" mdp-placeholder="Airport local time" ng-model="arrivalTime" mdp-format="HH:mm">
          <div ng-messages="newFlightForm.arrivalTime.$error">
            <div ng-message="required">This is required</div>
            <div ng-message="format">Invalid format</div>
          </div>
        </mdp-time-picker>
      </div>
    </div>
    <div>
      <md-button class="md-raised md-primary" ng-click="addItinerary()">Add to itinerary</md-button>
    </div>
    </form>
  </div>
  <md-content ng-cloak flex-gt-md="33" flex-gt-sm="50" flex>
  </md-content>

</div>
